# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json
app_host: &app_host 'home.k3s.pro'
app_port: &app_port 3000

controllers:
  main:
    replicas: 2

    serviceAccount:
      name: homepage

    containers:
      app:
        image:
          repository: ghcr.io/gethomepage/homepage
          tag: v1.6.1
          pullPolicy: IfNotPresent

        env:
          TZ: America/Chicago
          HOMEPAGE_ALLOWED_HOSTS: *app_host

        envFrom:
          - secretRef:
              name: homepage-env

        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: *app_port
              initialDelaySeconds: 20
              periodSeconds: 10
              timeoutSeconds: 10
              failureThreshold: 3
          readiness: *probes

serviceAccount:
  main:
    enabled: true

service:
  app:
    controller: main
    ports:
      http:
        port: *app_port

ingress:
  main:
    enabled: true
    labels:
      # This label will enable discover of this deployment in Homepage
      gethomepage.dev/enabled: 'true'
    annotations:
      # These annotations will configure how this deployment is shown in Homepage
      gethomepage.dev/name: 'Homepage'
      gethomepage.dev/description: 'A modern, secure, highly customizable application dashboard.'
      gethomepage.dev/group: 'A New Group'
      gethomepage.dev/icon: 'homepage.png'
      # cert-manager
      cert-manager.io/cluster-issuer: 'letsencrypt'
    className: 'traefik'
    hosts:
      - host: *app_host
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *app_host
        secretName: homepage-ingress-cert

persistence:
  config:
    enabled: true
    type: configMap
    name: homepage
    globalMounts:
      - path: /app/config
  logs:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /app/config/logs

# for icons check https://dashboardicons.com/
configMaps:
  config:
    enabled: true
    data:
      custom.js: ''
      custom.css: ''
      docker.yaml: ''
      settings.yaml: |
        background: https://images.unsplash.com/photo-1629277910650-07546caa6414?q=80&w=3027&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
        cardBlur: md
        theme: dark
        headerStyle: boxed
        hideVersion: true
        providers:
          longhorn:
            url: https://longhorn.k3s.pro
      kubernetes.yaml: |
        mode: cluster
      widgets.yaml: |
        - kubernetes:
            cluster:
              show: true
              cpu: true
              memory: true
              showLabel: true
              label: 'cluster'
            nodes:
              show: true
              cpu: true
              memory: true
              showLabel: true

        - longhorn:
            # Show the expanded view
            expanded: false
            # Shows a node representing the aggregate values
            total: true
            # Shows the node names as labels
            labels: true
            # Show the nodes
            nodes: true
      services.yaml: |
        - Apps:
            - OctoPrint:
                icon: octoprint.png
                href: https://octoprint.console.lol/
                description: Manage 3D prints

      bookmarks.yaml: |
        - Homelab:
            - Apps Repo:
                - href: https://github.com/dkarter/k3s-cluster-apps
                  icon: si-github

            - Bootstrap Ansible Repo:
                - href: https://github.com/dkarter/k3s-cluster
                  icon: si-github

        - Managed services:
            - DigitalOcean:
                - href: https://cloud.digitalocean.com
                  icon: digital-ocean.svg

        - Utilities:
            - Dashboard Icons:
                - href: https://github.com/walkxcode/dashboard-icons
                  icon: si-github

            - Homepage Docs:
                - href: https://gethomepage.dev/latest/
                  icon: homepage.png
