# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json
app_host: &app_host linkding.k3s.pro
app_url: &app_url 'https://linkding.k3s.pro'
app_port: &app_port 9090

controllers:
  main:
    strategy: Recreate
    replicas: 1

    containers:
      app:
        image:
          repository: sissbruecker/linkding
          tag: 1.45.0
          pullPolicy: IfNotPresent

        env:
          TZ: America/Chicago
          # see docs in https://github.com/sissbruecker/linkding/blob/master/docs/Options.md#list-of-options
          LD_FAVICON_PROVIDER: https://icons.duckduckgo.com/ip3/{domain}.ico

        envFrom:
          - secretRef:
              name: linkding-env

        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: *app_port
              initialDelaySeconds: 5
              periodSeconds: 10
              timeoutSeconds: 2
              failureThreshold: 5
          readiness: *probes

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /etc/linkding/data

service:
  app:
    controller: main
    ports:
      http:
        port: *app_port

ingress:
  main:
    enabled: true
    annotations:
      # These annotations will configure how this deployment is shown in Homepage
      gethomepage.dev/enabled: 'true'
      gethomepage.dev/name: Linkding
      gethomepage.dev/description: Bookmark manager
      gethomepage.dev/group: Apps
      gethomepage.dev/icon: linkding.svg
      gethomepage.dev/siteMonitor: https://linkding.k3s.pro/health

      # cert-manager
      kubernetes.io/ingress.class: 'traefik'
      cert-manager.io/cluster-issuer: 'letsencrypt'
    className: 'traefik'
    hosts:
      - host: *app_host
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *app_host
        secretName: linkding-ingress-cert
