# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/values.schema.json
host: &host 'livebook.k3s.pro'
http_port: &http_port 8080

controllers:
  main:
    strategy: Recreate
    replicas: 1

    containers:
      app:
        image:
          repository: ghcr.io/livebook-dev/livebook
          tag: 0.18.2
          pullPolicy: IfNotPresent

        envFrom:
          - secretRef:
              name: livebook-env

        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /public/health
                port: *http_port
              initialDelaySeconds: 60
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /data

service:
  app:
    controller: main
    ports:
      http:
        port: *http_port

ingress:
  main:
    enabled: true
    annotations:
      # These annotations will configure how this deployment is shown in Homepage
      gethomepage.dev/enabled: 'true'
      gethomepage.dev/name: Livebook
      gethomepage.dev/description: Interactive Elixir Notebooks
      gethomepage.dev/group: Apps
      gethomepage.dev/icon: https://avatars.githubusercontent.com/u/87464290?s=48&v=4
      gethomepage.dev/siteMonitor: 'https://livebook.k3s.pro/public/health'

      # cert-manager
      kubernetes.io/ingress.class: 'traefik'
      cert-manager.io/cluster-issuer: 'letsencrypt'
    className: 'traefik'
    hosts:
      - host: *host
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - *host
        secretName: livebook-ingress-cert
